<!-- Item -->
<div class="cbp-item">
  <div class="cbp-caption">
    <!-- Blog Card -->
    <article class="card d-block border-0 transition-3d-hover mt-1">
      <div class="card-body p-5">
        <!-- Header -->
        <header class="d-flex justify-content-between align-items-center mb-4">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

          <a class="btn btn-xs btn-icon btn-soft-success rounded-circle" href="javascript:;">
            <span class="fas fa-arrow-up btn-icon__inner"></span>
          </a>
          <small class="d-block text-muted">25 days ago</small>
        </header>
        <!-- End Header -->

        <!-- Info -->
        <div class="mb-4">
          <img class="preview img-fluid rounded" src="../../assets/img/500x280/img8.jpg.html" alt="Image Description">
        </div>
        <h2 class="h5">
          <a href="../blog/single-article-classic.html">Are you lying about your healthy living goals?</a>
        </h2>
        <p class="mb-0">Why? Because if you're not telling yourself the truth, you won't be able to honestly and accurately prioritize your needs.</p>
        <!-- End Info -->
      </div>

      <!-- Footer -->
      <footer class="card-footer p-5">
        <div class="media align-items-center">
          <a class="u-sm-avatar position-relative mr-3" href="#">
            <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img1.jpg.html" alt="Image Description">
            <span class="badge badge-md badge-outline-primary badge-pos badge-pos--bottom-right rounded-circle">&#43;</span>
          </a>
          <div class="media-body">
            <h3 class="h6 mb-0">
              <a href="#">Andrea Gard</a>
            </h3>
            <small class="d-block">on <a class="text-secondary" href="#">Buzzfeed</a></small>
          </div>
        </div>
      </footer>
      <!-- End Footer -->
    </article>
    <!-- End Blog Card -->
  </div>
</div>
<!-- End Item -->

<!-- Item -->
<div class="cbp-item">
  <div class="cbp-caption">
    <!-- Blog Card -->
    <article class="card d-block border-0 transition-3d-hover mt-1">
      <div class="card-body p-5">
        <!-- Header -->
        <header class="d-flex justify-content-between align-items-center mb-4">
          <a class="btn btn-xs btn-icon btn-soft-success rounded-circle" href="javascript:;">
            <span class="fas fa-arrow-up btn-icon__inner"></span>
          </a>
          <small class="d-block text-muted">25 days ago</small>
        </header>
        <!-- End Header -->

        <!-- Info -->
        <div class="mb-4">
          <img class="preview img-fluid rounded" src="../../assets/img/500x280/img12.jpg.html" alt="Image Description">
        </div>
        <h2 class="h5">
          <a href="../blog/single-article-classic.html">Foundation skills take the fear out of barbering</a>
        </h2>
        <p class="mb-0">Johnny Shanahan of Barber Barber UK has faced down his barbering demons and created a foundation.</p>
        <!-- End Info -->
      </div>

      <!-- Footer -->
      <footer class="card-footer p-5">
        <div class="media align-items-center">
          <a class="u-sm-avatar position-relative mr-3" href="#">
            <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img3.jpg.html" alt="Image Description">
            <span class="badge badge-md badge-outline-primary badge-pos badge-pos--bottom-right rounded-circle">&#43;</span>
          </a>
          <div class="media-body">
            <h3 class="h6 mb-0">
              <a href="#">Scott Levine</a>
            </h3>
            <small class="d-block">on <a class="text-secondary" href="#">InVision</a></small>
          </div>
        </div>
      </footer>
      <!-- End Footer -->
    </article>
    <!-- End Blog Card -->
  </div>
</div>
<!-- End Item -->

<!-- Item -->
<div class="cbp-item">
  <div class="cbp-caption">
    <!-- Blog Card -->
    <article class="d-flex align-items-start flex-wrap height-380 gradient-overlay-half-dark-v2 bg-img-hero rounded-pseudo transition-3d-hover p-5 mt-1" style="background-image: url('../../assets/img/500x550/img3.jpg.html');">
      <header class="w-100 d-flex justify-content-between mb-3">
        <!-- Author -->
        <div class="media align-items-center">
          <a class="u-sm-avatar position-relative mr-3" href="#">
            <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img1.jpg.html" alt="Image Description">
            <span class="badge badge-primary badge-pos badge-pos--bottom-right rounded-circle">&#43;</span>
          </a>
          <div class="media-body">
            <h3 class="h6 text-white mb-0">
              <a href="#">Andrea Gard</a>
            </h3>
            <small class="d-block text-white">on <a class="text-white-70" href="#">Buzzfeed</a></small>
          </div>
        </div>
        <!-- End Author -->

        <small class="d-block text-white-70">29 days ago</small>
      </header>

      <!-- Info -->
      <div class="mt-auto">
        <h2 class="h5 text-white">
          <a href="../blog/single-article-classic.html">A last-minute Labor Day road trip</a>
        </h2>
        <p class="text-white-70 mb-0">Time is running out on all those ambitious plans for barbecues, lounging at the beach and road trips.</p>
      </div>
      <!-- End Info -->
    </article>
    <!-- End Blog Card -->
  </div>
</div>
<!-- End Item -->

<!-- Item -->
<div class="cbp-item">
  <div class="cbp-caption">
    <!-- Blog Card -->
    <article class="card d-block border-0 transition-3d-hover mt-1">
      <div class="card-body p-5">
        <!-- Header -->
        <header class="d-flex justify-content-between align-items-center mb-4">
          <a class="btn btn-xs btn-icon btn-soft-success rounded-circle" href="javascript:;">
            <span class="fas fa-arrow-up btn-icon__inner"></span>
          </a>
          <small class="d-block text-muted">29 days ago</small>
        </header>
        <!-- End Header -->

        <!-- Info -->
        <div class="mb-4">
          <img class="preview img-fluid rounded" src="../../assets/img/500x280/img14.jpg.html" alt="Image Description">
        </div>
        <h2 class="h5">
          <a href="../blog/single-article-classic.html">The World's most colorful holiday</a>
        </h2>
        <p class="mb-0">In March every year, the streets of India and Nepal come alive with color.</p>
        <!-- End Info -->
      </div>

      <!-- Footer -->
      <footer class="card-footer p-5">
        <div class="media align-items-center">
          <a class="u-sm-avatar position-relative mr-3" href="#">
            <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img4.jpg.html" alt="Image Description">
            <span class="badge badge-md badge-outline-primary badge-pos badge-pos--bottom-right rounded-circle">&#43;</span>
          </a>
          <div class="media-body">
            <h3 class="h6 mb-0">
              <a href="#">+James Austin</a>
            </h3>
            <small class="d-block">on <a class="text-secondary" href="#">Muzli</a></small>
          </div>
        </div>
      </footer>
      <!-- End Footer -->
    </article>
    <!-- End Blog Card -->
  </div>
</div>
<!-- End Item -->

<!-- Item -->
<div class="cbp-item">
  <div class="cbp-caption">
    <!-- Blog Card -->
    <article class="card d-block border-0 transition-3d-hover mt-1">
      <div class="card-body p-5">
        <!-- Header -->
        <header class="d-flex justify-content-between align-items-center mb-4">
          <a class="btn btn-xs btn-icon btn-soft-success rounded-circle" href="javascript:;">
            <span class="fas fa-arrow-up btn-icon__inner"></span>
          </a>
          <small class="d-block text-muted">30 days ago</small>
        </header>
        <!-- End Header -->

        <!-- Info -->
        <div class="mb-4">
          <img class="preview img-fluid rounded" src="../../assets/img/500x280/img2.jpg.html" alt="Image Description">
        </div>
        <h2 class="h5">
          <a href="../blog/single-article-classic.html">These are the newbery and caldecott book award winners</a>
        </h2>
        <p class="mb-0">The awards were announced Monday by the American Library Association</p>
        <!-- End Info -->
      </div>

      <!-- Footer -->
      <footer class="card-footer p-5">
        <div class="media align-items-center">
          <a class="u-sm-avatar position-relative mr-3" href="#">
            <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img2.jpg.html" alt="Image Description">
            <span class="badge badge-md badge-outline-primary badge-pos badge-pos--bottom-right rounded-circle">&#43;</span>
          </a>
          <div class="media-body">
            <h3 class="h6 mb-0">
              <a href="#">Charlotte Moore</a>
            </h3>
            <small class="d-block">on <a class="text-secondary" href="#">Facebook</a></small>
          </div>
        </div>
      </footer>
      <!-- End Footer -->
    </article>
    <!-- End Blog Card -->
  </div>
</div>
<!-- End Item -->

<!-- Item -->
<div class="cbp-item">
  <div class="cbp-caption">
    <!-- Blog Card -->
    <article class="card d-block border-0 transition-3d-hover mt-1">
      <div class="card-body p-5">
        <!-- Header -->
        <header class="d-flex justify-content-between align-items-center mb-4">
          <a class="btn btn-xs btn-icon btn-soft-danger rounded-circle" href="javascript:;">
            <span class="fas fa-arrow-down btn-icon__inner"></span>
          </a>
          <small class="d-block text-muted">1 month ago</small>
        </header>
        <!-- End Header -->

        <!-- Info -->
        <div class="mb-4">
          <img class="preview img-fluid rounded" src="../../assets/img/500x280/img13.jpg.html" alt="Image Description">
        </div>
        <h2 class="h5">
          <a href="../blog/single-article-classic.html">Breakthrough in filtering salt, ions from water</a>
        </h2>
        <p class="mb-0">Researchers discover efficient and sustainable way to filter salt and metal ions from water</p>
        <!-- End Info -->
      </div>

      <!-- Footer -->
      <footer class="card-footer p-5">
        <div class="media align-items-center">
          <a class="u-sm-avatar position-relative mr-3" href="#">
            <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img2.jpg.html" alt="Image Description">
            <span class="badge badge-md badge-outline-primary badge-pos badge-pos--bottom-right rounded-circle">&#43;</span>
          </a>
          <div class="media-body">
            <h3 class="h6 mb-0">
              <a href="#">Charlotte Moore</a>
            </h3>
            <small class="d-block">on <a class="text-secondary" href="#">Facebook</a></small>
          </div>
        </div>
      </footer>
      <!-- End Footer -->
    </article>
    <!-- End Blog Card -->
  </div>
</div>
<!-- End Item -->

<!-- Item -->
<div class="cbp-item">
  <div class="cbp-caption">
    <!-- Blog Card -->
    <article class="card d-block border-0 transition-3d-hover mt-1">
      <div class="card-body p-5">
        <!-- Header -->
        <header class="d-flex justify-content-between align-items-center mb-4">
          <a class="btn btn-xs btn-icon btn-soft-danger rounded-circle" href="javascript:;">
            <span class="fas fa-arrow-down btn-icon__inner"></span>
          </a>
          <small class="d-block text-muted">1 month ago</small>
        </header>
        <!-- End Header -->

        <!-- Info -->
        <div class="mb-4">
          <img class="preview img-fluid rounded" src="../../assets/img/500x280/img10.jpg.html" alt="Image Description">
        </div>
        <h2 class="h5">
          <a href="../blog/single-article-classic.html">Mantra samui resort launches new spa</a>
        </h2>
        <p class="mb-0">Overlooking the Gulf of Thailand, the Mantra Samui Resort has launched A Mantra for Mantra</p>
        <!-- End Info -->
      </div>

      <!-- Footer -->
      <footer class="card-footer p-5">
        <div class="media align-items-center">
          <a class="u-sm-avatar position-relative mr-3" href="#">
            <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img2.jpg.html" alt="Image Description">
            <span class="badge badge-md badge-outline-primary badge-pos badge-pos--bottom-right rounded-circle">&#43;</span>
          </a>
          <div class="media-body">
            <h3 class="h6 mb-0">
              <a href="#">Charlotte Moore</a>
            </h3>
            <small class="d-block">on <a class="text-secondary" href="#">Facebook</a></small>
          </div>
        </div>
      </footer>
      <!-- End Footer -->
    </article>
    <!-- End Blog Card -->
  </div>
</div>
<!-- End Item -->

<!-- Item -->
<div class="cbp-item">
  <div class="cbp-caption">
    <!-- Blog Card -->
    <article class="d-flex align-items-start flex-wrap height-380 gradient-overlay-half-dark-v2 bg-img-hero rounded-pseudo transition-3d-hover p-5 mt-1" style="background-image: url('../../assets/img/500x550/img1.jpg.html');">
      <header class="w-100 d-flex justify-content-between mb-3">
        <!-- Author -->
        <div class="media align-items-center">
          <a class="u-sm-avatar position-relative mr-3" href="#">
            <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img1.jpg.html" alt="Image Description">
            <span class="badge badge-primary badge-pos badge-pos--bottom-right rounded-circle">&#43;</span>
          </a>
          <div class="media-body">
            <h3 class="h6 text-white mb-0">
              <a href="#">Andrea Gard</a>
            </h3>
            <small class="d-block text-white">on <a class="text-white-70" href="#">Buzzfeed</a></small>
          </div>
        </div>
        <!-- End Author -->

        <small class="d-block text-white-70">1 month ago</small>
      </header>

      <!-- Info -->
      <div class="mt-auto">
        <h2 class="h5 text-white">
          <a href="../blog/single-article-classic.html">The 60-Euro Roadtrip</a>
        </h2>
        <p class="text-white-70 mb-0">A big adventure through Eastern Europe (and the Nurburgring).</p>
      </div>
      <!-- End Info -->
    </article>
    <!-- End Blog Card -->
  </div>
</div>
<!-- End Item -->

<!-- Item -->
<div class="cbp-item">
  <div class="cbp-caption">
    <!-- Blog Card -->
    <article class="card bg-primary text-center position-relative transition-3d-hover mt-1">
      <a class="card-body py-9 px-7" href="../blog/single-article-classic.html">
        <!-- SVG Quote -->
        <figure class="mx-auto mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px"
             viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
            <path class="fill-white" opacity=".7" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
              C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
              c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
              C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"/>
          </svg>
        </figure>
        <!-- End SVG Quote -->

        <h3 class="h4 text-white mb-4">Front makes you look at things from a different perspectives.</h3>
        <small class="d-block text-white-70">Scott Levine</small>
      </a>
    </article>
    <!-- End Blog Card -->
  </div>
</div>
<!-- End Item -->

<!-- Item -->
<div class="cbp-item">
  <div class="cbp-caption">
    <!-- Blog Card -->
    <article class="card d-block border-0 transition-3d-hover mt-1">
      <div class="card-body p-5">
        <!-- Header -->
        <header class="d-flex justify-content-between align-items-center mb-4">
          <a class="btn btn-xs btn-icon btn-soft-danger rounded-circle" href="javascript:;">
            <span class="fas fa-arrow-down btn-icon__inner"></span>
          </a>
          <small class="d-block text-muted">1 month ago</small>
        </header>
        <!-- End Header -->

        <!-- Info -->
        <div class="mb-4">
          <img class="preview img-fluid rounded" src="../../assets/img/500x280/img15.jpg.html" alt="Image Description">
        </div>
        <h2 class="h5">
          <a href="../blog/single-article-classic.html">Mapping the first family tree for urban cities</a>
        </h2>
        <p class="mb-0">Unraveling the evolutionary history of the world's tropical urban cities</p>
        <!-- End Info -->
      </div>

      <!-- Footer -->
      <footer class="card-footer p-5">
        <div class="media align-items-center">
          <a class="u-sm-avatar position-relative mr-3" href="#">
            <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img4.jpg.html" alt="Image Description">
            <span class="badge badge-md badge-outline-primary badge-pos badge-pos--bottom-right rounded-circle">&#43;</span>
          </a>
          <div class="media-body">
            <h3 class="h6 mb-0">
              <a href="#">James Austin</a>
            </h3>
            <small class="d-block">on <a class="text-secondary" href="#">Muzli</a></small>
          </div>
        </div>
      </footer>
      <!-- End Footer -->
    </article>
    <!-- End Blog Card -->
  </div>
</div>
<!-- End Item -->

<!-- Item -->
<div class="cbp-item">
  <div class="cbp-caption">
    <!-- Blog Card -->
    <article class="card d-block border-0 transition-3d-hover mt-1">
      <div class="card-body p-5">
        <!-- Header -->
        <header class="d-flex justify-content-between align-items-center mb-4">
          <a class="btn btn-xs btn-icon btn-soft-success rounded-circle" href="javascript:;">
            <span class="fas fa-arrow-up btn-icon__inner"></span>
          </a>
          <small class="d-block text-muted">1 month ago</small>
        </header>
        <!-- End Header -->

        <!-- Info -->
        <div class="mb-4">
          <img class="preview img-fluid rounded" src="../../assets/img/500x280/img16.jpg.html" alt="Image Description">
        </div>
        <h2 class="h5">
          <a href="../blog/single-article-classic.html">Teach me how to eat again please</a>
        </h2>
        <p class="mb-0">Here's what extreme "clean-eating" did to one woman.</p>
        <!-- End Info -->
      </div>

      <!-- Footer -->
      <footer class="card-footer p-5">
        <div class="media align-items-center">
          <a class="u-sm-avatar position-relative mr-3" href="#">
            <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img2.jpg.html" alt="Image Description">
            <span class="badge badge-md badge-outline-primary badge-pos badge-pos--bottom-right rounded-circle">&#43;</span>
          </a>
          <div class="media-body">
            <h3 class="h6 mb-0">
              <a href="#">Charlotte Moore</a>
            </h3>
            <small class="d-block">on <a class="text-secondary" href="#">Facebook</a></small>
          </div>
        </div>
      </footer>
      <!-- End Footer -->
    </article>
    <!-- End Blog Card -->
  </div>
</div>
<!-- End Item -->

<!-- Item -->
<div class="cbp-item">
  <div class="cbp-caption">
    <!-- Blog Card -->
    <article class="card d-block border-0 transition-3d-hover mt-1">
      <div class="card-body p-5">
        <!-- Header -->
        <header class="d-flex justify-content-between align-items-center mb-4">
          <a class="btn btn-xs btn-icon btn-soft-success rounded-circle" href="javascript:;">
            <span class="fas fa-arrow-up btn-icon__inner"></span>
          </a>
          <small class="d-block text-muted">30 days ago</small>
        </header>
        <!-- End Header -->

        <!-- Info -->
        <div class="mb-4">
          <img class="preview img-fluid rounded" src="../../assets/img/500x280/img9.jpg.html" alt="Image Description">
        </div>
        <h2 class="h5">
          <a href="../blog/single-article-classic.html">Felline eyeing first major Classic win in 2018</a>
        </h2>
        <p class="mb-0">I'm curious but also a little bit scared' says Italian on season debut in Oman</p>
        <!-- End Info -->
      </div>

      <!-- Footer -->
      <footer class="card-footer p-5">
        <div class="media align-items-center">
          <a class="u-sm-avatar position-relative mr-3" href="#">
            <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img4.jpg.html" alt="Image Description">
            <span class="badge badge-md badge-outline-primary badge-pos badge-pos--bottom-right rounded-circle">&#43;</span>
          </a>
          <div class="media-body">
            <h3 class="h6 mb-0">
              <a href="#">+James Austin</a>
            </h3>
            <small class="d-block">on <a class="text-secondary" href="#">Muzli</a></small>
          </div>
        </div>
      </footer>
      <!-- End Footer -->
    </article>
    <!-- End Blog Card -->
  </div>
</div>
<!-- End Item -->